@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(138, 75%, 24%);
  --background: hsl(0, 0%, 7%);
  --primary: hsla(145, 100%, 29%, 0.797);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsla(149, 56%, 42%, 0.995);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 80%, 27%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 97%, 12%, 0.936);
  --accent: hsla(155, 100%, 86%, 0.568);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsl(143, 33%, 28%);
}

body {
  font-family: 'Manrope';
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  padding: 0 10%;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

body,nav {
    display: flex;
    align-items: center;
}

nav {
  flex-direction: row;
  gap: 2rem;
  color: var(--textDim);
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
}

.menu:hover {
  color: var(--text);
  cursor: pointer;
}

.sitename {
  font-weight: bold;
}

.grid {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: -1;
}

.grid-svg {
  height: 80%;
  width: 80%;
  position: relative;
  z-index: 1;
}

.blur {
  height: 12rem;
  width: 12rem;
  background-color: var(--primary);
  filter: blur(100px);
  border-radius: 100px;
  z-index: 0;
  position: absolute;
}

.title {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  height: 100%;
  z-index: 1000;
}

.floating {
  animation: floatLeft 256s linear infinite;
}

@keyframes floatLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.title > p {
  margin: 0;
  line-height: 10rem;
  width: auto;
}

.title > p:nth-child(1) {
  align-self: flex-start;
}

.title > p:nth-child(2) {
  color: var(--primary);
  align-self: flex-end;
}

.title > p:nth-child(3) {
  align-self: flex-end;
}

.material-icons {
  display: none;
  fill: var(--text);
}

.button { 
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  z-index: 9999;
  border: 2px solid white;
  border-radius: 13px;
}

button {
  height: 50px;
  width: 160px;
  clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-family: "Manrope";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

#backButton, #sendEmailButton {
  border-radius: 13px;
  border: 2px solid white;
}

.contactMe {
  text-decoration: underline;
}

span {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}

.button:hover > span {
  opacity: 60%;
}

.button:hover > button {
  transform: translateY(5px);
}

.button.first {
  top: 12%;
  right: 20%;
}

.button.sec {
  bottom: 13%;
  right: 11%;
}

.button.sec > button {
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.button.sec > span {
  background-color: var(--accentHi);
}

.button.third {
  bottom: 25%;
  left: 15%;
}

.button.third > button {
  background-color: var(--secondaryBg);
  box-shadow: 0px -3px 15px 0px var(--secondary) inset;
  color: var(--secondaryFg);
}

.button.third > span {
  background-color: var(--secondaryHi);
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 50%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 50%;
}

@media screen and (max-width: 1000px) {  
  .title > p {
    line-height: 1rem;
    letter-spacing: -0.3rem;
  }
  
  nav > :not(.sitename, .material-icons) {
    display: none;
  }
  
  nav {
    justify-content: space-between;
  }
}
        /* Pop-up styles */
        .popup-overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          border: 2px white solid;
          display: none;
          justify-content: center;
          align-items: center;
          z-index: 1000;
      }
      .popup {
          background: var(--background);
          padding: 2rem;
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          border: 2px rgba(255, 255, 255, 0.47) solid;
          text-align: center;
          color: var(--text);
          max-width: 500px;
          width: 80%;
      }
      .popup h2 {
          margin-top: 0;
      }
      #closePopup {
          position: fixed;
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          border-top: 2px white solid;
          border-bottom: 2px white solid;
          border-radius: 0px !important;
      }

      #closePopup, #view,
      #emailParagraph,
      #phoneParagraph,
      #socialParagraph,
      #sendEmailButton,
      #backButton {
        cursor: pointer;
      }

      .floating {
          animation: floatLeft 3s linear infinite;
      }

      @keyframes floatLeft {
          0% {
              transform: translateX(-100%);
          }
          50% {
              transform: translateX(10%);
          }
          100% {
              transform: translateX(-100%);
          }
      }

      footer {
          position: fixed;
          bottom: 0;
          width: 100%;
          background-color: var(--background);
          padding: 1rem 0;
          text-align: center;
          border-top: 1px solid var(--textDim);
      }

      footer div {
          position: relative;
      }
